@model AyushmanBharat.Models.ViewModels.StateVM
@{
ViewBag.Title = "State";
}

<section class="content-header">
    <h1>
        State
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body pad">
                    <div class="form-group">
                        <div class="col-md-12">
                            <a href="@Url.Action("Create","State")" class="btn btn-primary margin-l-m15"><span class="fa fa-plus-square">&nbsp;</span>Add New</a>
                        
                            <a title="Download Template" href="@Url.Action("Download","Document",new { FilePath = "~/Uploads/Template/StateTemplate.xlsx" })" class="btn btn-warning" download>
                                <i class="fa fa-download"></i>
                                Template
                            </a>
                       
                            <div class="pull-right margin-r-m15">
                                <input id="fileImport" type="file" class="filestyle" data-input="false">

                                <button type="button" class="btn btn-info" title="Import selected file" id="btnImport" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Import">
                                    <i class="fa fa-upload"></i>
                                    Import
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="form-group hidden" id="dvError">
                        <p class="d-inline bg-danger"><b>Following rows are not imported.</b></p>                      
                        <div id="dvTableError"></div>
                        <hr />
                    </div>

                    <div class="form-group">
                        <table id="tblState" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>State Id</th>
                                    <th>Sequence</th>
                                    <th>State Code</th>
                                    <th>State Name</th>                                    
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(function () {
        $('#tblState').DataTable({
            "lengthMenu": [[10, 25, 50, 100, 1000], [10, 25, 50, 100, 1000]],
            "processing": true, // for show progress bar
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,
            //"stateSave": true,
            "ajax": {
                "url": "/State/LoadStates",
                "type": "POST",
                "datatype": "json",
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                },
                
                    
               
                ],
            aaSorting: [[1, 'asc']],
            "columns": [
              { "data": "StateID", "visible": false, "searchable": false },
               { "data": "Sequence", "autoWidth": true, "className": "text-right" },
                { "data": "StateCode", "autoWidth": true, "className": "text-right" },
                { "data": "StateName", "autoWidth": true },
                 {
                     "data": "Active",
                     "autoWidth": true,
                     "render": function (data, type, row, meta) {
                         if (type !== "display") {
                             return row.Active;
                         }
                         else {
                             if (row.Active == true) {
                                 return '<span class="glyphicon glyphicon-ok text-success"></span>';
                             }
                             else {
                                 return '<span class="glyphicon glyphicon-remove text-danger"></span>';
                             }
                         }
                     }
                 },
                //{
                //    "data": "Active", "autoWidth": true,
                //    "render": function (data, type, row, meta) {
                //        if (row.Active) {
                //            return '<span class="glyphicon glyphicon-ok text-success"></span>';
                //        }
                //        else {
                //            return '<span class="glyphicon glyphicon-remove text-danger"></span>';
                //        }
                //    }
                //},
                    {
                        "data": "Id",
                        "searchable": false,
                        "sortable": false,
                        "render": function (data, type, row, meta) {
                            var strURL = '<a href="@Url.Action("Edit", "State")?id=' + row.StateID + '" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a> | ';
                            strURL = strURL + '<a href="#"  onclick="Delete(\'' + row.StateID + '\',\'' + row.StateCode + '\');" title="Delete"><span class="glyphicon glyphicon-trash text-danger"></span></a> | ';
                            strURL = strURL + '<a href="@Url.Action("Index", "District")?id=' + row.StateID + '" title="Location" class ="btn btn-datatable btn-primary"><span class="fa fa-area-chart"></span> Location <span title="" class="badge bg-yellow">' + row.DistrictCount + '</span></a>  ';
                            strURL = strURL + '<a href="@Url.Action("Index", "Hospital")?id=' + row.StateID + '" title="Hospital" class ="btn btn-datatable btn-danger"><span class="fa fa-hospital-o"></span> Hospital <span title="" class="badge bg-yellow">' + row.HospitalCount + '</span></a>  ';
                            return strURL;
                        }
                    }
            ],
            dom: 'lBfrtip',

            buttons: [
                {
                    extend: 'excelHtml5',
                    text: ' <i class="fa fa-download"></i> Export To Excel',
                    className: 'btn btn-success',
                    titleAttr: 'Export to Excel',
                    title: 'States List',
                    messageTop: 'Excel.',
                    exportOptions: {
                        orthogonal: "exportxls",
                        modifier: {

                            page: 'all',
                            //search: 'none'
                        },
                        columns: [1, 2, 3, 4]
                    },
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button buttons-excel buttons-html5');
                    },
                    footer: true
                }],

        });

        //////////////////Import  Excel///////////////////////////////

        $("#fileImport").change(function () {
            validateExcelFile('fileImport');
        });

        $("#btnImport").click(function () {
            var file = $("#fileImport").val();
            if (file != "") {
            var excelFile = document.getElementById("fileImport").files[0];
            var formData = new FormData();
            formData.append("file", excelFile);
            var url = '@Url.Action("ImportFromExcel", "State")';
                ImportExcelFile(url, formData, "tblState");
            }
            else {
                displayErrorNotification("Please choose file to upload.");
            }
        });
        ///////////////////////////////////////////////////////////////////////////
    });


    function Delete(id, StateCode) {
        BootstrapDialog.show({
            title: "Confirm Box",
            message: "Are you sure to delete record? with StateCode= " + StateCode,
            buttons: [{
                label: 'OK',
                cssClass: 'btn-primary',
                icon: "glyphicon glyphicon-check",
                action: function (dialogItself) {
                    $.ajax({
                        url: "@Html.Raw(Url.Action("Delete", "State"))",
                        type: "GET",
                        data: { StateID: id },
                        dataType: 'json',
                        success: function (response) {
                            if (response == "OK") {
                                //Refresh Ur Table Here
                                $('#tblState').DataTable().ajax.reload();
                                dialogItself.close();
                                displaySuccessNotification("State with StateCode = '"+StateCode + "' Deleted Successfully.");
                            }
                            else if (response == "Conflict") {
                                dialogItself.close();
                                displayErrorNotification("Cannot delete record. Its been used in another masters.");
                            }
                            else {
                                dialogItself.close();
                                displayErrorNotification("Something Went Wrong.");
                            }
                        },
                        error: function (request, status, error) {
                            displayErrorNotification("Sorry, An error occured while processing your request.");
                        }
                    });
                }
            },
    {
        label: 'No',
        cssClass: 'btn-warning',
        icon: 'fa fa-times',
        action: function (dialogItself) {
            dialogItself.close();
        }
    }]
        });
    }
</script>
